/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 28, 2015, Sep 28, 2015 2:14:42 PM
    Author     : Fei
*/

body {
	background-color: #FFFFF0;
	font-family: Arial;
}


div {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	/*border: 1px dashed #FF0000;*/
}

.title {
	font: 40px Arial;
	color: #101010;
	/*border: #FF0000, dashed, 1px;*/
}


.subtitle {
	font: 15pt Arial;
	color: #101010;
	/*outline: #FF0000, dashed, 1px;*/
}



#input {
	text-align: left;
	font: italic 10pt Arial;
	color: #101010;
	/*outline: #FF0000, dashed, 1px;*/
}


.available {
	font: 6pt, Arial, #101010;
	/*outline: #FF0000, dashed, 1px;*/
}

.selected {
	text-decoration: line-through;
	color: #C0C0C0;
}

.chosen {
	color: #101010;
	font-size: 10pt;
	list-style-type: square;
}

.plan {
	border-width: thin;
	border-style: solid;
	padding: 10px;
	background-color: #EEEFFF;
	width: 350px;
}


#floatBox {
	float: right;
	font-family: Arial;
	background-color: #FFE4E1;
	border: 2px solid #101010;
	margin: 30px;
	width: 500px;
}

#floatBox:hover {
	float: right ;
	background-color: #FFE4E1;
	border: 2px solid #101010;
	margin: 30px;
	width: 500px;
}

#box-title {
	text-align: center;
	color: #101010;
	font-size: 25px;
	font-family: Arial;
}

.box-area {
	font: 8px, Arial, #101010;
}

.box-course {
	font: 6pt, Arial, #101010;
}

.course-area {
	font: 20pt, Arial, #101010;
	/*outline: #FF0000, dashed, 1px;*/

}














